---
// src/components/Contacto.astro
---
<section id="contacto" class="section-wrapper">
    <div class="section-content">
        <h2 class="contacto-titulo">CONTACTO</h2>
        <p class="contacto-intro">¿Dudas?, ¿quejas?, ¿comentarios? Escríbenos a hausofgraves@gmail.com o llena el siguiente formulario:</p>
        
        <div class="form-container">
            <!-- 
                Aquí pegamos el script de Jotform.
                Este código reemplaza completamente nuestro antiguo formulario HTML.
                Jotform controlará los estilos, pero se adaptará al ancho del contenedor.
            -->
            <script type="text/javascript" src="https://form.jotform.com/jsform/252086925601861"></script>
        </div>
    </div>
</section>