---
// src/components/Footer.astro
---
<footer class="main-footer">
    <!-- Envolvemos la imagen en un enlace -->
    <a href="https://www.instagram.com/hausofgraves" target="_blank" rel="noopener noreferrer">
        <img src="/images/haus.png" alt="Logo Haus of Graves" class="footer-logo">
    </a>
    <p>© 2025 Haus of Graves. Todos los derechos reservados.</p>
</footer>