---
// src/components/Footer.astro
---
<footer class="main-footer">
    <!-- Asegúrate que la imagen se llame 'haus.png' -->
    <img src="/images/haus.png" alt="Logo Haus of Graves" class="footer-logo">
    <p>© 2025 Haus of Graves. Todos los derechos reservados.</p>
</footer>