---
// src/components/Header.astro
---
<header class="main-header">
    <div class="nav-content">
        <a href="#inicio" class="header-logo">#PONLECORREA</a>
        <nav class="main-nav">
            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#proyecto">Proyecto</a></li>
                <li><a href="#apoya">Apoya</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>