---
// src/components/Informacion.astro
---
<section id="informacion" class="section-wrapper">
    <div class="section-content info-text">
        <p>
            Pasear perros sin correa representa un riesgo tanto para ellos como para el entorno.
        </p>
        <p>
            Sin importar su entrenamiento, los perros pueden enfrentarse a accidentes viales, perderse, involucrarse en peleas con otros animales, además de que su comportamiento impredecible puede causar molestias o generar peligro para otras personas y mascotas.
        </p>
        <p>
            Usar correa no solo protege a los perros, sino que también promueve una convivencia más segura y respetuosa en los espacios públicos.
        </p>
        <p>
            En la Ciudad de México, pasear perros sin correa está sancionado bajo la 
            <!-- CAMBIO 1: Se añade el enlace a la Ley de Cultura Cívica -->
            <a href="https://www.congresocdmx.gob.mx/media/documentos/49a0a80ee030f12d0f797c671da2918e508f30cb.pdf" class="text-link" target="_blank" rel="noopener noreferrer">Ley de Cultura Cívica</a> y la 
            <!-- CAMBIO 1: Se añade el enlace a la Ley de Protección de Animales -->
            <a href="https://transparenciac5.cdmx.gob.mx/TC5/uploads/LEY_DE_PROTECCI%C3%93N_Y_BIENESTAR_DE_LOS_ANIMALES.pdf" class="text-link" target="_blank" rel="noopener noreferrer">Ley de Protección y Bienestar de los Animales.</a>
        </p>
        <p>
            Las multas para los propietarios que no usen correa van desde los <span class="highlight">$1,141 hasta los $4,149 pesos.</span> Además, pueden aplicarse sanciones como arrestos de 13 a 24 horas o trabajo comunitario de 6 a 12 horas si no se puede pagar la multa. En caso de un incidente más grave, como que el perro lesione a alguien, el dueño también deberá cubrir los gastos médicos correspondientes.
        </p>
        <p class="irresponsible">
            ¡NO SEAS IRRESPONSABLE!
        </p>
    </div>
</section>