---
// src/components/Proyecto.astro
---
<section id="proyecto" class="section-wrapper">
    <div class="section-content proyecto-grid">
        <div class="proyecto-imagen">
            <!-- Asegúrate que la imagen se llame 'cartel.png' y esté en public/images/ -->
            <img src="/images/cartel.png" alt="Cartel de Ponle Correa pegado en un poste de la calle">
        </div>
        <div class="proyecto-texto">
            <h2>PROYECTO</h2>
            <p>
                #PONLECORREA nació como un proyecto universitario que buscaba responder a la pregunta: ¿una ilustración puede generar cambios conductuales tangibles? Nosotros creemos que sí.
            </p>
            <p>
                Ilustramos de manera cruda una de las situaciones a las nos exponemos al no utilizar correa en los paseos caninos, con la intención de fomentar una actitud más empática y responsable hacia nuestras mascotas. Nos propusimos no solo informar, sino también hacer reflexionar a dueños de perros, motivándolos a actuar de manera más cuidadosa y considerada.
            </p>
             <p>
                Actualmente, existe muy poca o casi nula presencia de información en espacios públicos acerca de los riesgos y multas asociadas al paseo de perros sin correa, y queremos cambiar eso. Buscamos difundir esta información por toda la Ciudad de México, expandiéndonos poco a poco, y si logramos que una sola persona cambie sus hábitos en paseos caninos, todo el esfuerzo habrá valido la pena.
            </p>
        </div>
    </div>
</section>